<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED ARDUINO</title>
</head>
<body>

    <style>

        h1 {
            color: cyan;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        button {
            background-color: cyan;
            border-radius: 25px;
            padding: 20px;
        }

    </style>

    <h1>LED DEL ARDUINO</h1>

    <button id="1"><a id="prender" href="http://192.168.1.44:8080/prender">PRENDER LED DEL ARDUINO</a></button>

    <button id="2"><a id="apagar" href="http://192.168.1.44:8080/apagar">APAGAR LED DEL ARDUINO</a></button>
    
</body>
</html>